.blog {
  gap: 64px;
  align-self: stretch;
  padding: 8rem 0;
  .blog-header {
    align-self: stretch;
    gap: 0.62rem;

    .blogTitle {
      text-align: center;
      color: #fff;
    }

    .blog-categories {
      gap: 0.625rem;
    }
  }

  .blog-btns {
    width: 100%;
  }

  .category {
    border-radius: 1.5rem;
    border: 1px solid #eaf2f8;
    background: none;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;

    &.active,
    &:hover {
      background: #d1ff81;
      color: #434343 !important;
      border-color: #d1ff81;
    }
  }

  .landing-signUp-buttons,
  .landing-works-buttons,
  .bannerButtons {
    gap: 0.625rem;
    button {
      min-width: 11.25rem;
      border-radius: 0.375rem;
      padding: 0.625rem;
      font-weight: 500;
      border: none;
      cursor: pointer;
    }

    .btn-primary {
      color: #222325;
      background: #9bf526;
    }

    .btn-secondary {
      border-radius: 0.375rem;
      border: 1px solid #9bf526;
      color: #9bf526;
      background: rgba(188, 254, 99, 0.1);
    }
  }

  .blog-gallery {
    display: grid;
    min-height: 58.375rem;
    padding: 0 4rem;
    row-gap: 3.5rem;
    column-gap: 56px;
    align-self: stretch;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    .blog-card {
      gap: 1rem;
      max-height: 31rem;

      border-radius: 0.5rem;
      border: 0.5px solid #4a4a4a;
      background: radial-gradient(
          circle at top center,
          rgba(81, 134, 228, 0.1) 0%,
          rgba(81, 134, 228, 0.01) 50%
        ),
        #151516;
      .blog-type {
        border-radius: 1.5rem;
      }

      .blog-image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }

      .blog-description {
        line-height: normal;
      }
    }
  }

  .blog-signUp {
    text-align: center;
    gap: 3.75rem;
    h2 {
      width: 70%;
    }
  }

  .blog-signUp-buttons {
    gap: 0.625rem;
    button {
      border-radius: 0.375rem;
      padding: 0.625rem;
      width: 11.25rem;

      font-weight: 500;
      border: none;
      cursor: pointer;
    }

    .btn-primary {
      color: #222325;
      background: #9bf526;
    }

    .btn-secondary {
      border-radius: 0.375rem;
      border: 1px solid #9bf526;
      color: #9bf526;
      background: rgba(188, 254, 99, 0.1);
    }
  }
}
