.blog-container {
  padding: 8rem 4rem;
  padding-bottom: 3rem;
  .blog-toc {
    gap: 7.5rem;
    .toc {
      gap: 1rem;
      ol {
        gap: 0.5rem;
        list-style: none;
        li {
          line-height: normal;
        }
      }
    }
    .share {
      gap: 1rem;
      .icons {
        gap: 2.5rem;
        a {
          text-decoration: none;
          font-size: 2rem;
          background: none;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .blog-content {
    gap: 1.25rem;
    width: 70%;
    .blog-meta {
      width: 100%;
      .keywords {
        line-height: normal;
        width: 27.875rem;
      }
    }
    .blog-hero {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }

    .blog-intro {
      gap: 0.25rem;
      line-height: normal;
      .blog-section {
        gap: 0.25rem;
      }
    }

    button {
      min-width: 11.25rem;
      border-radius: 0.375rem;
      padding: 0.625rem;
      font-weight: 500;
      border: none;
      cursor: pointer;
    }

    .btn-primary {
      color: #222325;
      background: #9bf526;
    }
  }
}

.blog-signUp {
  button {
    min-width: 11.25rem;
    border-radius: 0.375rem;
    padding: 0.625rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }

  .btn-primary {
    color: #222325;
    background: #9bf526;
  }
}

.category {
  border-radius: 1.5rem;
  border: 1px solid #eaf2f8;
  background: none;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;

  &.active,
  &:hover {
    background: #d1ff81;
    color: #434343 !important;
    border-color: #d1ff81;
  }
}

.blog-gallery {
  display: grid;

  padding: 0 4rem;
  row-gap: 3.5rem;
  column-gap: 56px;
  align-self: stretch;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  .blog-card {
    gap: 1rem;
    max-height: 31rem;

    border-radius: 0.5rem;
    border: 0.5px solid #4a4a4a;
    background: radial-gradient(
        circle at top center,
        rgba(81, 134, 228, 0.1) 0%,
        rgba(81, 134, 228, 0.01) 50%
      ),
      #151516;
    .blog-type {
      border-radius: 1.5rem;
    }

    .blog-image {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }

    .blog-description {
      line-height: normal;
    }
  }
}

h1,
p,
li {
  line-height: normal;
}
