<div class="password-input-container">
  <label class="input-label">{{ label }}</label>
  <div class="password-input-wrapper">
    <input
      type="{{ showPassword ? 'text' : 'password' }}"
      class="password-input"
      [placeholder]="placeholder"
      [required]="required"
      [disabled]="disabled"
      (input)="onInput($event)"
      (blur)="onBlur()"
      [value]="value"
    />
    <button
      type="button"
      class="toggle-password"
      (click)="togglePasswordVisibility()"
    >
      <span
        [class.visible]="showPassword"
        class="icon-password color-background"
      ></span>
    </button>
  </div>
</div>
