.main-content {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background: radial-gradient(
      circle at top center,
      rgba(81, 134, 228, 0.1) 0%,
      rgba(81, 134, 228, 0.01) 50%
    ),
    #151516;
}
