@font-face {
  font-family: "icomoon";
  src: url("fonts/iconmoon/icomoon.eot");
  src: url("fonts/iconmoon/icomoon.eot") format("embedded-opentype"),
    url("fonts/iconmoon/icomoon.ttf") format("truetype"),
    url("fonts/iconmoon/icomoon.woff") format("woff"),
    url("fonts/iconmoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e900";
}
.icon-config:before {
  content: "\e901";
}
.icon-strategy:before {
  content: "\e902";
}
.icon-report:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-chevron:before {
  content: "\e905";
}
.icon-expand:before {
  content: "\e906";
}

.icon-status-arrow:before {
  content: "\e907";
}

.icon-status-arrow-left:before {
  content: "\e907";
  display: inline-block;
  transform: rotate(90deg);
}

.icon-status-arrow-right:before {
  content: "\e907";
  display: inline-block;
  transform: rotate(-90deg);
}

.icon-status-arrow-up:before {
  content: "\e907";
  display: inline-block;
  transform: scaleX(-1) scaleY(-1);
}

.icon-check-box:before {
  content: "\e908";
}

.icon-uncheck-box:before {
  content: "\e909";
}

.icon-double-chevron:before {
  content: "\e90a";
}

.icon-double-chevron-left:before {
  content: "\e90a";
  display: inline-block;
  transform: scaleX(-1);
}

.icon-filter:before {
  content: "\e90b";
}

.icon-search:before {
  content: "\e90c";
}

.icon-revenue:before {
  content: "\e90d";
}

.icon-users:before {
  content: "\e90e";
}

.icon-overview:before {
  content: "\e90f";
}

.icon-info:before {
  content: "\e910";
}

.icon-line:before {
  content: "\e911";
}

.icon-refresh:before {
  content: "\e912";
}

.icon-password:before {
  content: "\e913";
}

.icon-star:before {
  content: "\e915";
}

.icon-like::before {
  content: "\e914";
}
